<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1>학생 등록</h1>
        <form role="form" th:action="@{/member/new}" th:object="${memberFormDto}" method="post"
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            </div>
            <p>
            <div>
                <input type="text" th:field="*{birthMd}" class="form-control" placeholder="생년월일을 입력하세요"
                   th:class="${#fields.hasErrors('birthMd')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('birthMd')}" th:errors="*{birthMd}">Incorrect date</p>
            </div>
            <p>
            <div>
                <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
            </div>

            <p>
                <select th:field="*{sustCd}" class="form-control border-0 small"
                        aria-label="Search" aria-describedby="basic-addon2"
                        th:class="${#fields.hasErrors('sustCd')}? 'form-control fieldError' : 'form-control'">
                    <option value="">학과</option>
                    <option th:each="sustCd : ${T(management.academic.common.entity.register.SustCd).values()}"
                            th:value="${sustCd.getCode()}" th:text="${sustCd.getCodeName()}">법학</option>
                </select>
                <p th:if="${#fields.hasErrors('sustCd')}" th:errors="*{sustCd}">Incorrect date</p>
            <p>
                <select th:field="*{mjrCd}" class="form-control border-0 small"
                        aria-label="Search" aria-describedby="basic-addon2"
                        th:class="${#fields.hasErrors('mjrCd')}? 'form-control fieldError' : 'form-control'">
                    <option value="">전공</option>
                    <option th:each="mjrCd : ${T(management.academic.common.entity.register.MjrCd).values()}"
                            th:value="${mjrCd.getCode()}" th:text="${mjrCd.getCodeName()}">1학년</option>
                </select>
                <p th:if="${#fields.hasErrors('mjrCd')}" th:errors="*{mjrCd}">Incorrect date</p>
            <p>

            <!-- 라디오 버튼도 나중에는 enum 타입으로 받아와서 뿌려주는거 적용하기 -->
            <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="1" id="option1" th:field="*{gender}"
                           th:class="${#fields.hasErrors('gender')}? 'form-control fieldError' : 'form-control'">
                    <label class="custom-control-label" for="option1">남자</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" value="2" id="option2" th:field="*{gender}"
                           th:class="${#fields.hasErrors('gender')}? 'form-control fieldError' : 'form-control'">
                    <label class="custom-control-label" for="option2">여자</label>
                </div>
                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Incorrect date</p>
            </div>
            <!-- Using checkbox tag -->
<!--            <div th:each="tag : ${tags}">-->
<!--                <input type="checkbox"-->
<!--                       th:id="${tag}" th:value="${tag}" th:field="*{tags}">-->
<!--                <label th:for="${tag}" th:text="${tag}">Tag</label>-->
<!--            </div>-->


            <p>
            <div>
                <input type="text" class="form-control" th:field="*{city}"
                       placeholder="주소1" aria-label="Search" aria-describedby="basic-addon2"
                       th:class="${#fields.hasErrors('city')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Incorrect date</p>

                <input type="text" class="form-control" th:field="*{street}"
                       placeholder="주소2" aria-label="Search" aria-describedby="basic-addon2"
                       th:class="${#fields.hasErrors('street')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Incorrect date</p>

                <input type="text" class="form-control" th:field="*{zipcode}"
                       placeholder="주소3" aria-label="Search" aria-describedby="basic-addon2"
                       th:class="${#fields.hasErrors('zipcode')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Incorrect date</p>
            </div>
            <p>
            <p>
            <div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                    학생 등록
                </button>
                <button class="btn btn-primary" type="reset">
                    <i class="fas fa-search fa-sm"></i>
                    입력내용 초기화
                </button>
            </div>
        </form>
    </div>
</th:block>
</html>