<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- //============================================Search Start=======================================================//-->
        <form role="form" th:object="${memberSearchCondition}"
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">

            <div class="form-group">
                <input type="text" th:field="*{stuNo}" class="form-control border-0 small" placeholder="이름" aria-label="Search" aria-describedby="basic-addon2">

                <select th:field="*{shysCd}" class="form-control border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                    <option hidden value="">학년</option>
                    <option th:each="shysCd : ${T(management.academic.common.entity.register.ShysCd).values()}"
                            th:value="${shysCd.getCodeName()}" th:text="${shysCd.getCodeName()}">1학년</option>
                </select>

                <select th:field="*{sustCd}" class="form-control border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                    <option hidden value="">학과</option>
                    <option th:each="sustCd : ${T(management.academic.common.entity.register.SustCd).values()}"
                            th:value="${sustCd.getCode()}" th:text="${sustCd.getCodeName()}">법학</option>
                </select>                                                                                   <!--코드를 value에 놓고 텍스트만 Name이 보여져야 함 -->

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </form>
        <p>
        <!-- //============================================Search End=======================================================//-->
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>히든PK</th>
                    <th>학번</th>
                    <th>학년</th>
                    <th>학기</th>
                    <th>성명</th>
                    <th>학과</th>
                    <th>전공</th>
                    <th>학적상태</th>
                    <th>학기수</th>
                    <th>성별</th>
                    <th>이메일</th>
                    <th>주소</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}">Empty</td>
                    <td th:text="${member.stuNo}">Empty</td>
                    <td th:text="${member.shysCd}">Empty</td>
                    <td th:text="${member.shtmCd}">Empty</td>
                    <td th:text="${member.name}">Empty</td>
                    <td th:text="${T(management.academic.common.entity.register.SustCd).valueOf(member.sustCd).getCodeName()}">Empty</td>
                    <td th:text="${T(management.academic.common.entity.register.MjrCd).valueOf(member.mjrCd).getCodeName()}">Empty</td>
                    <td th:text="${T(management.academic.common.entity.register.FinSchregDivCd).valueOf(member.finSchregDivCd).getCodeName()}">Empty</td>
                    <td th:text="${member.cptnShtmCnt}">Empty</td>
                    <td th:text="${T(management.academic.schoolregister.entity.Gender).valueOf(member.gender).getCodeName()}">Empty</td>
                    <td th:text="${member.email}">Empty</td>
                    <td th:text="${member.address.city + member.address.street + member.address.zipcode}">Empty</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>