<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>학번</th>
                    <th>성명</th>
                    <th>학과</th>
                    <th>전공</th>
                    <th>학년</th>
                    <th>학기</th>
                    <th>취득학점</th>
                    <th>평균평점</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}">Empty</td>
                    <td th:text="${member.stuNo}">Empty</td>
                    <td th:text="${member.name}">Empty</td>
                    <td th:text="${member.sustCd}">Empty</td>
                    <td th:text="${member.mjrCd}">Empty</td>
                    <td th:text="${member.shysCd}">Empty</td>
                    <td th:text="${member.shtmCd}">Empty</td>
                    <td th:text="${member.acqLctpt}">Empty</td>
                    <td th:text="${member.acqLctptAvgAvrp}">Empty</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>